  #getDirection,.but {
    margin-top: 17%;
    background-color: purple;
    color: white;
    border-radius: 10px;
  }

  #sendRequest {
	  margin-left: 42%;
    margin-top: 0%;
  }

  #view,#ride{
	  height: 30px;
    width: 34%;
    margin-left: 31%;
    margin-top: 2%;
  }

  #approved,#declined {
	  width: 100%;
    margin-left: 27%;
  }

  #user-input-1 {
    height: 98%;
    border-radius: 15px;
  }

  #user-input-2 {
    height: 98%;
    border-radius: 15px;
  }

  .source {
    width: 100%;
    height: 27px;
    padding-left:3px;;
    border-radius:15px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	  background-color: lightgray;
  }

  .inputBox {
    margin-left: 7%;
    margin-top: 6%;
  }

  #map {
    height: 65%;
    width: 100%;
    float:left;
    border-radius: 15px;
  }

  .other {
    margin-left: 0;
    width: 100%;
    background-color: lightgray;
    border-radius: 14px;
  }
